<md-grid-list cols="2" rowHeight="100px">
  <md-grid-tile colspan="2">
    <h2>Logging in</h2>
  </md-grid-tile>
  <ul *ngFor="let design of designs">
    <li>{{design.name}}</li>
  </ul>
  <p>{{designTwo.name}}</p>
  <form class="example-form">
    <md-grid-tile colspan="2">
      <p>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="email" />
        </md-form-field>
      </p>
    </md-grid-tile>
    <md-grid-tile colspan="2">
      <p>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="password" />
        </md-form-field>
      </p>
    </md-grid-tile>
    <md-grid-tile colspan="2">
      <button md-raised-button>log in</button>
    </md-grid-tile>
  </form>
</md-grid-list>
