<md-list class="objectTypeFilter">
  <h2 md-subheader>Sorting by type</h2>
  <div *ngFor = "let procuctType of procuctsType" 
      (click) = "sorting('type', procuctType.type)">
    <md-list-item (click)="navChanged(procuctType.type)" [ngClass]="{'active' : procuctType.type === selected}">
      {{procuctType.type}}
    </md-list-item>
  </div>
  <h2 md-subheader>Sorting by category</h2>
  <div *ngFor = "let productCategory of productsCategory" 
      (click) = "sorting('category', productCategory.category)">
    <md-list-item (click)="navChanged(productCategory.category)" [ngClass]="{'active' : productCategory.category === selected}">
      {{productCategory.category}}
    </md-list-item>
  </div>
</md-list>
