#container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#tools{
	width: 30%;
}
.products, .gategory_images{
	margin-top:20px;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	font-family:monospace;
	font-size: 16px;
}
.products_img,.category_img{
	width: 33%;
}
#canvas{
	width: 70%;
	text-align: center;
	margin-top: 100px;
}
/deep/ .mat-tab-label{
	min-width: 50% !important;
}
.head{
	width: 100%;
	background-color: #e3f2fd;
	padding: 20px 0;
	text-align: center;
}
.selected_color{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	flex-direction: row;
	justify-content: space-between;
}
.selected_color li{
	padding: 10px 25px;
}
.selected_color li span{
		cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #bfbfbf;
}
#img_overall{
	position: absolute;
	top: 25%;
  left: 21%;
}
.redactor_area{
	position: relative;
	    display: inline-block;
}
