<div id="container">
  <div id="tools">
    <md-tab-group>
      <md-tab label="Product Type">
          <div class="templates">
            <div class="template_img" *ngFor="let template of templates">
              <img [src]="template.url" (click)="selectTemplate(template)" width="80"/>
            </div>
          </div>

        <div class="bl_2">
          <div class="head">Color <i class="material-icons">color_lens</i></div>
          <ul class="selected_color">
            <li *ngFor="let goods of getColors()" (click)="setColor(goods)">
              <span [style.background] = "goods.color">
              </span>
            </li>
          </ul>
        </div>
        <div class="head">Add Text <i class="material-icons">text_fields</i></div>
      </md-tab>

      <md-tab label="Category">
          <div class="gategory_images">
            <div class="category_img"*ngFor="let image of items | async">
                  <img [src]="image.url" (click)="selectCategory(image)" width="100"/>
            </div>
          </div>
        <div class="load">
          <div class="head" >Load Image <i class="material-icons">file_download</i></div>
          <input type="file" id="imgLoader" (change)="handleImage($event)">
        </div>
      </md-tab>
    </md-tab-group>
  </div>

  <div id="canvas">
    <div class="redactor_area">
      <canvas width="700px" height="600px" id="img_product"></canvas>
       <canvas width="700px" height="600px" id="viewport"></canvas>
    </div>
    <button md-raised-button [disabled]="!this.getCanvas().getActiveObject()" (click)="removeImg()">Remove</button>
    <button md-raised-button (click)="saveProduct()">Save</button>
    <button md-raised-button >Buy</button>
    <!-- <img width="700px" id="result" [src]="resultImg" alt=""/> -->
  </div>
</div>
