img {
	max-height: 200px;
	width: 100%;
}

ul, li {
    list-style: none;
}

::ng-deep snack-bar-container {
    &.success-snackbar {
        background: #7b0041;
    }
}

button {
	min-width: 1%;
	width: 100%;
	display: block;
}

.info {
	text-align: center;
}