<div class="oneObjet" *ngFor = "let product of selectedItems | paginate: { itemsPerPage: 3, currentPage: p}">
  <div>
    <img src="{{ product.svg }}" alt="">
  </div>
  <div class="info">
   <div class = "aboutTheProduct">
     <h3>{{product.name}}</h3>
     <ul>
       <li><span>type:</span> {{product.type}}</li>
       <li><span>category:</span> {{product.category}}</li>
     </ul>
   </div>
   <button (click)="addToCart(product)">add to my card</button>
  </div>  
</div>
<pagination-controls (pageChange)="p = $event" autoHide="true"></pagination-controls>
<div *ngIf = " selectedItems?.length === 0" class="noResults">No results</div>