    .rightcol {
        /*margin-left: 21%; */
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        align-content: flex-start;
        width: 79%;
    }
    .oneObjet {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        align-content: space-between;
        width: 32.3333333333%;
        margin: 0.5%;
        box-sizing: border-box;
        border: 1px solid #eee;
        
        > * {
            width: 100%;
            text-align: center;
        }

        img{
            max-height: 200px;
            padding: 10px;
            box-sizing: border-box;
        }

        .info {
            position: relative;
            text-align: left;
            line-height: 1.6em;
            box-sizing: border-box;

            span {
                font-weight: 500;
            }

            button {
                width: 100%;
                border:none;
                padding: 15px 10px;
                background: #eee;
                transition: ease all .2s;
                cursor: pointer;
                font-size: 16px;
            }

            button:hover {
                background: #7b0041;
                color: #eee;
            }

            h3 {
                text-align: center;
                line-height: 1.8em;
            }
        }

        .aboutTheProduct {
            padding: 20px;
            box-sizing: border-box;

            ul, li {
                list-style: none;
            }
        }
    }


    .noResults {
        min-width: 100%;
        text-align: center;
        font-size: 2em;
        margin-top: 100px;
        color: #7b0041;
    }

    .pagination {
        min-width: 100%;
    }



