<div class="add-wrapper">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <md-form-field>
      <input required type="text" placeholder="id" mdInput formControlName="id">
      <md-error *ngIf="productForm.controls['id'].hasError('required')">
        Id <strong>cannot be blank</strong>
      </md-error>
    </md-form-field>
    <md-form-field>
      <input required type="text" placeholder="category" mdInput formControlName="category">
      <md-error *ngIf="productForm.controls['category'].hasError('required')">
        Category <strong>cannot be blank</strong>
      </md-error>
    </md-form-field>
    <md-form-field>
      <input required type="text" placeholder="name" mdInput formControlName="name">
      <md-error *ngIf="productForm.controls['name'].hasError('required')">
        Name <strong>cannot be blank</strong>
      </md-error>
    </md-form-field>
    <md-form-field>
      <input required type="text" placeholder="price" mdInput formControlName="price">
      <md-error *ngIf="productForm.controls['price'].hasError('required')">
        Price <strong>cannot be blank</strong>
      </md-error>
    </md-form-field>
    <md-form-field>
      <input required type="text" placeholder="owner" mdInput formControlName="owner">
      <md-error *ngIf="productForm.controls['owner'].hasError('required')">
        Owner <strong>cannot be blank</strong>
      </md-error>
    </md-form-field>
    <md-form-field>
      <input required type="text" placeholder="type" mdInput formControlName="type">
      <md-error *ngIf="productForm.controls['type'].hasError('required')">
        Type <strong>cannot be blank</strong>
      </md-error>
    </md-form-field>
    <app-file-upload #fileUp (notify)="onNotify($event)" [saveUrl]="this.ReferenceToProducts"></app-file-upload>
    <button [disabled]="!fileUp.downloadedPhoto || !productForm.valid || waitForDelivery" (click)="fileUp.upload()" type="submit" md-raised-button
      color="primary" class="edit-save-button">
          Add product
      </button>
  </form>
  <div>

  </div>
</div>