@import "../../variables.scss";

 .admin-page {
    display: flex;
    position: relative;
    height: 100%;

    /deep/ .mat-button {
        min-width: 1% !important;
        line-height: normal !important;
    }

    .side-menu {
        position: fixed;
        justify-content: center;
        width: 20vw;
        height: 100%;

        @media screen and (max-width: $break-l){
            width: 30vw;
        }



        .side-menu-button {
            color: $profileSideMenuButtons;
            display: block;
            text-decoration: none;
            padding: 1.5vw 1vw;
            min-height: 50px;
            font-size: 1.5em;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            text-align: left;
            transition: ease all .2s;

            @media screen and (max-width: $break-s){
                font-size: 0.8em;
            }
                    &:hover{
                        color: $profileSideMenuButtonsHover;
                        background-color: $profileSideMenuButtonsHoverBg;
                    }
                
            } 
    }

    .content {
        flex: 1;
        padding-left: 20vw;

        @media screen and (max-width: $break-l){
            padding-left: 30vw;
        }
    }

    /deep/ .mat-toolbar-row {
        height: auto;
        padding: 10px;
    }
    
    .img {
        display: block;
        height: 100%;
        width: auto;
    }
    
    /deep/.mat-toolbar {
        background: transparent;
    }

    

}

