@import "../../variables.scss";

 .admin-page {
    display: flex;
    position: relative;
    height: 100%;

    /deep/ .mat-tab-label{
        min-width: calc(100%/3) !important;
    }

    /deep/ .mat-button {
        min-width: 1% !important;
        line-height: normal !important;
    }

    .side-menu {
        position: fixed;
        justify-content: center;
        width: 200px;
        height: 100%;

        @media screen and (max-width: $break-l){
            width: 25vw;
        }



        .side-menu-button {
            color: $profileSideMenuButtons;
            display: block;
            text-decoration: none;
            padding: 5% 3%;
            min-height: 50px;
            font-size: 1.2em;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            text-align: left;
            transition: ease all .2s;

            @media screen and (max-width: $break-s){
                font-size: 0.8em;
            }
                    &:hover{
                        color: $profileSideMenuButtonsHover;
                        background-color: $profileSideMenuButtonsHoverBg;
                    }
                
            } 
    }

    .content {
        flex: 1;
        padding-left: 200px;

        @media screen and (max-width: $break-l){
            padding-left: 25vw;
        }
    }

    /deep/ .mat-toolbar-row {
        height: auto;
        padding: 10px;
    }
    
    .img {
        display: block;
        height: 100%;
        width: auto;
    }
    
    /deep/.mat-toolbar {
        background: transparent;
    }

}

::ng-deep snack-bar-container {
    &.success-snackbar {
        background: #7b0041;
    }
  }