<div class="admin-page">
  <div class="side-menu">
      <button md-button class="side-menu-button" color="warn">
          <a routerLink="add-menu" [routerLinkActive]="['is-active']">Add menu</a>
      </button>
      <button md-button class="side-menu-button" color="warn">
          <a routerLink="remove-menu" [routerLinkActive]="['is-active']">Remove menu</a>
      </button>
      <button md-button class="side-menu-button" color="warn">
          <a routerLink="new-orders" [routerLinkActive]="['is-active']">New orders</a>
      </button>
  </div>
  <div class="content">
      <router-outlet></router-outlet>
  </div>
</div>