
    <h2>Registration</h2>


  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" class="example-form">

      <p>

          <input mdInput placeholder="email" name="email" ngModel/>

      </p>

      <p>

          <input mdInput placeholder="password" name="password" ngModel/>

      </p>

      <p>

          <input mdInput placeholder="repeat password" />

      </p>

      <p>

          <input mdInput placeholder="first name" />

      </p>

      <p>

          <input mdInput placeholder="second name" />

      </p>

      <p>

          <input mdInput placeholder="address" />

      </p>

      <button md-raised-button type="submit" >registrate</button>

  </form>
