.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  md-icon {
    font-size: 60px;
    height: 60px;
    width: 60px;
    cursor: pointer;
  }

  button {
    margin: 10px;
  }
}

p {
  font-size: 12px;
}
