<div class="add-wrapper">
  <form [formGroup]="designForm" (ngSubmit)="onSubmit()">
    <md-form-field>
      <input required type="text" placeholder="name" mdInput formControlName="name">
    </md-form-field>
    <md-error *ngIf="designForm.controls['name'].hasError('required')">
      First name <strong>cannot be blank</strong>
    </md-error>
    <app-file-upload #fileUp (notify)="onNotify($event)"></app-file-upload>
    <button [disabled]="!fileUp.downloadedPhoto" (click)="fileUp.upload()" type="submit" md-raised-button color="primary" class="edit-save-button">
          Add design
      </button>
  </form>
  <div>
    
  </div>
</div>