<div>
  <md-dialog-content>
    <h3>Size</h3>
    <ng-container *ngFor = "let template of templateTypes">
      <ng-container *ngIf = "data.product.type === template.type" class="size">
              <md-select [(ngModel)]="mySize" placeholder="" (ngModelChange)="setSize(mySize, product)">
                  <md-option *ngFor="let size of template.size" [value]="size">
                    {{size}}
                  </md-option>
              </md-select>
      </ng-container>
    </ng-container>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-raised-button (click)="onCloseConfirm(data.product, mySize)">confirm</button>
  </md-dialog-actions>
</div>
