@import "../../variables.scss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
	font-family: 'Quicksand', sans-serif;
}

.container {
	height: 100%;
	box-sizing: border-box;
}

.header {
	text-align: center;
}

.items {
	width: 100%;
	height: calc(100% - 6%);
	overflow-y: auto;
	margin: 1%;
	margin-top: 3%;

	.item {
		height: 40%;
		display: flex;
		padding: 0;
		border: 1px solid #ddd;

		div {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 17%;

				img {
					height: auto;
					width: auto;
					max-height: 100%;
					max-width: 100%;
				}

				.delete {
					width: 50%;
				}
		}

		.img-container {
			justify-content: flex-start;
		}
	}

	.items-header {
		height: 10%;
		display: flex;
		background-color: #ddd;

		div {
			width: 17%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.product {
		width: 20%;
	}
}


button {
	min-width: 1%;
}

.quantity {
	input {
		height: calc(20% - 4px);
		width: 20%;
		text-align: center;
	}

	.add, .subtract {
		height: 20%;
	}
}

.info {
	padding: 1%;
	height: 100%;
	width: 100%;

	div {
		height: 50%;
		text-align: right;
		margin-right: 15%;

		.checkout {
			margin-right: 2%;
		}
	}
}

.show-info {
    height: 100%;
}