<router-outlet><router-outlet>
<div class="container">
  <div class="header">
    <h2>Shopping cart</h2>
  </div>
  <div *ngIf = "totalQuantity !== 0">
    <div class="item-headers">
      <div class="product"></div>
      <div></div>
      <div>Type</div>
      <div>Quantity</div>
      <div>Price</div>
      <div></div>
    </div>
    <div class="item" *ngFor="let order of orders">
      <div class="product img-container">
          <img src="{{order.product.svg}}">
        </div>
        <div>
          {{order.product.name}}
        </div>
        <div class="type">
          {{order.product.type}}
        </div>
        <div class="quantity">
          <button button md-raised-button class="add" (click)="addButtonClick(order)">
            +
          </button> 
          <input mdInput type="number" value="{{order.quantity}}">
          <button button md-raised-button class="subtract" (click)="subtractButtonClick(order)">
            -
          </button> 
        </div>
        <div class="price">
          {{order.product.price}} UAH
        </div>
        <div class="remove">
          <button button md-raised-button class="delete" (click)="removeOrder(order)">
            Delete
          </button> 
        </div>
    </div>
    <div class="info">
      <div class="total">
        Total amount: <span class="amount">{{totalAmount}} UAH</span>
      </div>
      <div>
        <button button md-raised-button class="checkout" (click)="navigate()">CHECKOUT</button> 
        <button button md-raised-button class="delete-all" (click)="empty()">CLEAR</button> 
      </div>
    </div>
  </div>
  <!-- IF CART IS EMPTY -->
  <div *ngIf = "totalQuantity === 0" class="empty-cart">
    <h4>There are no items</h4>
  </div>
</div>