<div class="container">
	<div class="orders">
		<md-grid-list class="item" *ngFor="let order of orders" cols="5" rowHeight="2:1">
			<md-grid-tile class="item-img">
				<img src="https://image.freepik.com/free-vector/cup-mockup_1053-247.jpg" layout-fill>
			</md-grid-tile>
  			<md-grid-tile>

  			</md-grid-tile>
  			<md-grid-tile>3</md-grid-tile>
  			<md-grid-tile class="quantity">
    			<button md-mini-fab class="add">
            <md-icon class="md-24">add</md-icon>
          </button>
  				<input mdInput value="{{order.quantity}}" type="number" min="1">
  				<button md-mini-fab class="subtract">
  					<md-icon md-font-icon>remove</md-icon>
  				</button>
  			</md-grid-tile>
  			<md-grid-tile>5</md-grid-tile>
		</md-grid-list>
	</div>
	<div class="make-order">
		
	</div>
</div>