<div class="order-wrapper">
  <app-loader *ngIf="showSpinner"></app-loader>
  <app-empty-content
   *ngIf="!showSpinner && !originalArray?.length"
   [icon]="iconEmpty"
   [message]="messageEmpty">
  </app-empty-content>
  <div class="table-wrapper" *ngIf="!showSpinner && originalArray?.length">
    <md-form-field>
      <input mdInput placeholder="New order searching" [(ngModel)]="searchPhrase" (ngModelChange)="filterItem(searchPhrase)" class="search"
        name="userFilter">
    </md-form-field>
    <md-accordion>
      <app-order class="table-row"
       *ngFor="let order of orders"
        [date]="order.date"
        [totalSum]="order.totalSum"
        [orders]="order.orders"
        [userInfo]="order.userInfo"
        [$key]="order.$key">
      </app-order>
    </md-accordion>
    <app-empty-content
    *ngIf="!orders?.length"
    [icon]="iconNotFound"
    [message]="messageNotFound">
   </app-empty-content>
  </div>
</div>