<div class="remove-wrapper">
    <app-loader *ngIf="showSpinner"></app-loader>
    <app-empty-content
    *ngIf="!showSpinner && !arrOfDesigns?.length"
    [icon]="iconEmpty"
    [message]="messageEmpty">
   </app-empty-content>
    <div class="table-wrapper" *ngIf="!showSpinner && arrOfDesigns?.length">
      <md-form-field>
        <input mdInput placeholder="Design searching"
         [(ngModel)]="searchPhrase"
          (ngModelChange)="filterItem(searchPhrase)"
          class="search"
          name="designFilter">
      </md-form-field>
      <md-toolbar class="table-row" *ngIf="designs?.length">
          <span>Name</span>
          <span>Price</span>
          <span class="img-title">Design image</span>
          <span class="spacer"></span>
          <div class="button-container">
            <button md-button color="primary" (click)="changeDeleteType()">
              {{ deleteType }}
            </button>
            <button [disabled]="!multiDelete" color="primary" md-button (click)="deleteSelected()">
                delete selected
            </button>
          </div>
        </md-toolbar>
       <app-design
       (checkedProduct)="checkedProduct($event)"
        *ngFor="let design of designs"
        [name]="design.name"
        [$key]="design.$key"
        [url]="design.url"
        [price]="design.price"
        [category]="design.category"
        [multiDelete]="multiDelete">
        </app-design>
        <app-empty-content
        *ngIf="!designs?.length"
        [icon]="iconNotFound"
        [message]="messageNotFound">
       </app-empty-content>
    </div>
  </div>