@import "../variables.scss";

.main-flex-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    z-index: 100;
    padding-bottom: 64px;
}

.content {
    flex: 1;
}

/deep/ .pagination {
    min-width: 100%;
    text-align: center !important;
  }
  
/deep/ .ngx-pagination .current {
    background: $darkRead !important;
  }
  
/deep/ .ngx-pagination li{
    transition: all ease .3s;
  }

 /deep/ .mat-expansion-indicator::after {
      color: #ffffff;
  }

/deep/ .mat-tab-group.mat-primary .mat-tab-label:focus, .mat-tab-group.mat-primary .mat-tab-link:focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
    background-color: #eee;
}