.container {
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 5% auto;
    font-family: 'Quicksand', sans-serif;
}

form {
    width: 100%;
}

.example-full-width, .error {
    width: 100%;
}

.error {
    font-size: 0.8em;
    font-style: italic;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}