<div class="container">
	<form #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm.value)">
		<md-form-field class="example-full-width">
    	<input #nameRef="ngModel" required mdInput placeholder="First name" name="firstName" minlength="3" ngModel={{user.firstName}}>
  	</md-form-field>
    <div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)" class="error">
      <div [hidden]="!nameRef.errors.required">
        Please, enter your name
      </div>
      <div [hidden]="!nameRef.errors.minlength">
        Please, enter at least 3 characters
      </div>
    </div>
  	<md-form-field class="example-full-width">
    	<input #lastNameRef="ngModel" required mdInput placeholder="Last name" name="lastName" minlength="3" ngModel={{user.lastName}}>
  	</md-form-field>
    <div *ngIf="lastNameRef.errors && (lastNameRef.dirty || lastNameRef.touched)" class="error">
      <div [hidden]="!lastNameRef.errors.required">
        Please, enter your last name
      </div>
      <div [hidden]="!lastNameRef.errors.minlength">
        Please, enter at least 3 characters
      </div>
    </div>
  	<md-form-field class="example-full-width">
    	<input #emailRef="ngModel" type="email" required mdInput placeholder="Email address" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" ngModel={{user.email}}>
  	</md-form-field>
    <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)" class="error">
      <div [hidden]="!emailRef.errors.required">
        Please, enter your email
      </div>
      <div [hidden]="!emailRef.errors.pattern">
        Please, enter a valid email
      </div>
    </div>
  	<md-form-field class="example-full-width">
    	<input #phoneRef="ngModel" required mdInput pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\ ]?[0-9]{3}[-\s\ ]?[0-9]{4,6}$" placeholder="Phone number" name="phoneNumber" ngModel>
  	</md-form-field>
    <div *ngIf="phoneRef.errors && (phoneRef.dirty || phoneRef.touched)" class="error">
      <div [hidden]="!phoneRef.errors.required">
        Please, enter your phone number
      </div>
      <div [hidden]="!phoneRef.errors.pattern">
        Please, enter a valid phone number
      </div>
    </div>
  	<md-form-field class="example-full-width">
    	<input #addressRef="ngModel" required mdInput placeholder="Address" minlength="4" name="address" ngModel>
    </md-form-field>
    <div *ngIf="addressRef.errors && (addressRef.dirty || addressRef.touched)" class="error">
      <div [hidden]="!addressRef.errors.required">
        Please, enter your address
      </div>
    </div>
    <button md-raised-button class="confirm" type="submit" [disabled]="!orderForm.form.valid">Confirm</button>
	</form>
</div>