<div class="remove-wrapper">
  <app-loader *ngIf="showSpinner"></app-loader>
  <div class="table-wrapper" *ngIf="!showSpinner">
    <md-form-field>
        <input mdInput placeholder="Product searching" [(ngModel)]="searchPhrase" (ngModelChange)="filterItem(searchPhrase)" class="search"
          name="productFilter">
      </md-form-field>
    <md-toolbar class="table-row">
      <span>Name</span>
      <span>Category</span>
      <span>Owner</span>
    </md-toolbar>
    <app-product
    (notify)="onNotify($event)"
    [class.showImg] = "onHover"
     *ngFor="let product of productList"
      [name]="product.name"
      [$key]="product.$key"
      [svg]="product.svg"
      [category]="product.category"
      [owner]="product.owner"
      ></app-product>
      <app-img-window class="img-window"
       [photoUrl]="this.photoUrl"
      [name]="this.name">
      </app-img-window>
  </div>
</div>