@import '../../../../variables.scss';

.table-row{
    width: 75%;
}

/deep/ .table-row{

    span {
        width: 10vw;
        padding-right: 2vw;
    }

    .img {
        height: 10vw;

        &.hidden {
            display: none;
        }
    }

    .delete {
        &:hover {
            cursor: pointer;
            color: $darkRead;
            transition: ease all .2s;
        }
    }

}

