<div class="remove-wrapper">
  <app-loader *ngIf="showSpinner"></app-loader>
  <app-empty-content
  *ngIf="!showSpinner && !arrOfProducts?.length"
  [icon]="iconEmpty"
  [message]="messageEmpty">
 </app-empty-content>
  <div class="table-wrapper" *ngIf="!showSpinner && arrOfProducts?.length">
    <md-form-field>
        <input mdInput placeholder="Product searching" [(ngModel)]="searchPhrase" (ngModelChange)="filterItem(searchPhrase)" class="search"
          name="productFilter">
      </md-form-field>
    <md-toolbar class="table-row"  *ngIf="productList?.length">
      <span>Name</span>
      <span>Category</span>
      <span>Owner</span>
      <span>Price</span>
      <span  class="img-title">Product image</span>
    </md-toolbar>
    <app-product
     *ngFor="let product of productList"
      [name]="product.name"
      [$key]="product.$key"
      [svg]="product.svg"
      [category]="product.category"
      [owner]="product.owner"
      [price]="product.price"
      [type]="product.type"
      ></app-product>
      <app-empty-content
      *ngIf="!productList?.length"
      [icon]="iconNotFound"
      [message]="messageNotFound">
     </app-empty-content>
  </div>
</div>