.container {
	width: 100%;
	box-sizing: border-box;
	padding: 2% 1% 0 1%;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

app-view-one-product {
	width: calc((100% / 4) - 1%);
	display: flex;
	box-sizing: border-box;
	margin: 0 0.5% 1% 0.5%;
}

.loader{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

@media screen and (max-width : 900px) {
	app-view-one-product {
		width: calc((100% / 3) - 1%);
	}
}

@media screen and (max-width : 450px) {
	app-view-one-product {
		width: calc((100% / 2) - 1%);
	}
}