@import "../../variables.scss";

.profile-page {
    display: flex;
    height: 100%;

    .side-menu {
        position: fixed;
        justify-content: center;
        width: 20vw;
        height: 100%;

        .avatar-wrapper {
            position: relative;
            width: 100%;
            background: url('../../assets/images/avatars/defaultAvatar.png') no-repeat center center;
            background-size: cover; 
            padding: 0 0 calc(200/200*100%);
        }

        img {
            top: 0;
            left: 0;
            position: absolute;
            display: block;
            width: 100%;
            height: auto;
        }

        .user-fullname {
            position: absolute;
            bottom: 0;
            height: 15%;
            width: 95%;
            background-color: $profileUserFullName;
            line-height: 1.5em;
            font-size: 2vw;
            color: white;
            padding-left: 5%;
            text-shadow: 0 0 10px $profileUserFullName;

        }

        a {
            color: $profileSideMenuButtons;
            display: block;
            text-decoration: none;
            height: 100%;
            padding: 1.5vw 1vw;
        }

        .side-menu-button {
            display: block;
            width: 20vw;
            height: 5vw;
            font-size: 1.5vw;
            line-height: 1.5vw;
            text-align: left;
            padding: 0;
            transition: ease all .2s;

            &:hover {
                background-color: $profileSideMenuButtonsHoverBg;

                a {
                    color: $profileSideMenuButtonsHover;
                }
            }      
        }
    }

    .content {
        flex: 1;
        padding-left: 20%;
    }


}
