<md-tab-group>
  <md-tab label="User info">
    <div class="info-detail-wrapper">
      <div class="title">
        <h2>Hello User</h2>
        <p class="greeting">Have a nice day!</p>
      </div>
      <div class="info-group">
        <span class="info-group-label info-group-row">First Name</span>
        <span class="info-group-data info-group-row" *ngIf="user.firstName !==null">{{ user.firstName }}</span>
        <span class="info-group-data info-group-row" *ngIf="user.firstName ===null">not specified</span>
      </div>
      <div class="info-group">
        <span class="info-group-label info-group-row">Last Name</span>
        <span class="info-group-data info-group-row" *ngIf="user.lastName !==null">{{ user.lastName }}</span>
        <span class="info-group-data info-group-row" *ngIf="user.lastName ===null">not specified</span>
      </div>
      <div class="info-group">
        <span class="info-group-label info-group-row">Email</span>
        <span class="info-group-data info-group-row" *ngIf="user.email !==null">{{ user.email }}</span>
        <span class="info-group-data info-group-row" *ngIf="user.email ===null">not specified</span>
      </div>
      <div class="info-group">
        <span class="info-group-label info-group-row">Phone</span>
        <span class="info-group-data info-group-row" *ngIf="user.phone !==null">{{ user.phone }}</span>
        <span class="info-group-data info-group-row" *ngIf="user.phone ===null">not specified</span>
      </div>
    </div>


  </md-tab>
  <md-tab label="Edit user info">
    <div class="edit-wrapper">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <md-form-field>
          <input type="text" placeholder="First Name" mdInput  formControlName="firstName">
        </md-form-field>
        <md-form-field>
          <input type="text" placeholder="Last Name" mdInput  formControlName="lastName">
        </md-form-field>
        <md-form-field>
          <input type="text" placeholder="email" mdInput  formControlName="email">
        </md-form-field>
        <md-form-field>
          <input type="text" placeholder="Photo URL" mdInput  formControlName="photoUrl">
        </md-form-field>
        <button type="submit" md-raised-button (click)="openSnackBar()" color="primary" class="edit-save-button">
          Save changes
      </button>
      </form>
      <div>
        
      </div>
    </div>
  </md-tab>
</md-tab-group>