<app-loader *ngIf="showLoader" class="loader"></app-loader>
<md-tab-group *ngIf="!showLoader">
  <md-tab label="User info" class="tab">   
    <div class="info-detail-wrapper">
      <div class="title">
        <h2>Hello, {{ user.firstName }} {{ user.lastName }}</h2>
        <p class="greeting">Have a nice day!</p>
      </div>
      <div class="info-group">
        <span class="info-group-label info-group-row">First Name</span>
        <span class="info-group-data info-group-row">
           {{ user.firstName }}
        </span>
      </div>
      <div class="info-group">
        <span class="info-group-label info-group-row">Last Name</span>
        <span class="info-group-data info-group-row">
          {{ user.lastName }}
        </span>
      </div>
      <div class="info-group">
        <span class="info-group-label info-group-row">Email</span>
        <span class="info-group-data info-group-row">
          {{ user.email }}
        </span>
      </div>
      <div class="info-group">
        <span class="info-group-label info-group-row">Phone</span>
        <span class="info-group-data info-group-row">
          {{ userAdditionalInfo.phone }}
        </span>
      </div>
      <div class="info-group">
        <span class="info-group-label info-group-row">Address</span>
        <span class="info-group-data info-group-row">
          {{ userAdditionalInfo.address }}
        </span>
      </div>
    </div>
  </md-tab>


  <md-tab label="Edit user info">
    <div class="edit-wrapper">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <md-form-field>
          <input mdInput required type="text" placeholder="First Name" formControlName="firstName" [(ngModel)]="user.firstName">
          <md-error *ngIf="userForm.controls['firstName'].hasError('required')">
            First name <strong>cannot be blank</strong>
          </md-error>
          <md-error *ngIf="userForm.controls['firstName'].hasError('pattern')">
            First name <strong>should be capitalized and cannot contains numbers and whitespaces</strong>
          </md-error>
          <md-error *ngIf="userForm.controls['firstName'].hasError('maxlength')">
            First name <strong>cannot exceed 10 characters</strong>
          </md-error>
        </md-form-field>
        <md-form-field>
          <input mdInput required type="text" placeholder="Last Name" formControlName="lastName" [(ngModel)]="user.lastName">
          <md-error *ngIf="userForm.controls['lastName'].hasError('required')">
            Last name <strong>cannot be blank</strong>
          </md-error>
          <md-error *ngIf="userForm.controls['lastName'].hasError('pattern')">
            Last name <strong>should be capitalized and cannot contains numbers and whitespaces</strong>
          </md-error>
          <md-error *ngIf="userForm.controls['lastName'].hasError('maxlength')">
            Last name <strong>cannot exceed 10 characters</strong>
          </md-error>
        </md-form-field>
        <md-form-field>
          <input mdInput required type="text" placeholder="Phone" formControlName="phone" [(ngModel)]="userAdditionalInfo.phone">
          <md-error *ngIf="userForm.controls['phone'].hasError('required')">
            Phone <strong>cannot be blank</strong>
          </md-error>
          <md-error *ngIf="userForm.controls['phone'].hasError('pattern')">
            Phone <strong>cannot contains letters</strong>
          </md-error>
          <md-error *ngIf="userForm.controls['phone'].hasError('maxlength')">
            Phone <strong>cannot exceed 15 characters</strong>
          </md-error>
          <md-error *ngIf="userForm.controls['phone'].hasError('minlength')">
            Phone <strong>cannot contains less than 4 characters</strong>
          </md-error>
        </md-form-field>
        <md-form-field>
          <input mdInput required type="text" placeholder="Address" formControlName="address" [(ngModel)]="userAdditionalInfo.address">
          <md-error *ngIf="userForm.controls['address'].hasError('required')">
            Address <strong>cannot be blank</strong>
          </md-error>
        </md-form-field>
        <app-file-upload #fileUp (notify)="onNotify($event)" [saveUrl]="this.ReferenceToAvatars"></app-file-upload>
        <button type="submit" [disabled]="!fileUp.downloadedPhoto || !userForm.valid || waitForDelivery" (click)="fileUp.upload()" md-raised-button color="primary" class="edit-save-button">
          Save changes
      </button>
      </form>
      <div>

      </div>
    </div>
  </md-tab>
</md-tab-group>
