<app-loader *ngIf="showLoader" class="loader"></app-loader>
<app-empty-content
*ngIf="!usersOrders?.length && !showLoader"
[icon]="iconEmpty"
[message]="messageEmpty">
</app-empty-content>
<div *ngIf="!showLoader" class="container">
	<md-accordion *ngIf="usersOrders.length !== 0">
		<md-expansion-panel *ngFor="let order of usersOrders">
		  <md-expansion-panel-header>
		  	<md-panel-title>
      			{{order.date | date :'medium'}}
    		</md-panel-title>
		    <md-panel-description>
		    	Amount: {{order.totalSum | currency:'USD':true}}
		    </md-panel-description>
		    <md-panel-description>
		    	Status: {{order.new ? 'new' : 'accepted'}}
		    </md-panel-description>
		  </md-expansion-panel-header>
		  <div class="items">
		  		<app-ordered-product *ngFor="let item of order.orders" [item]="item"></app-ordered-product>
		  </div>
		</md-expansion-panel>
	</md-accordion>
</div>