<app-loader *ngIf="showLoader" class="loader"></app-loader>
<div *ngIf="!showLoader" class="container">
	<md-accordion>
		<md-expansion-panel *ngFor="let order of usersOrders">
		  <md-expansion-panel-header>
		  	<md-panel-title>
      			{{order.date | date :'medium'}}
    		</md-panel-title>
		    <md-panel-description>
		    	Amount: {{order.totalSum}} UAH
		    </md-panel-description>
		    <md-panel-description>
		    	Status: {{order.new ? 'new' : 'accepted'}}
		    </md-panel-description>
		  </md-expansion-panel-header>
		  <div class="items">
		  		<app-ordered-product *ngFor="let item of order.orders" [item]="item"></app-ordered-product>
		  </div>
		</md-expansion-panel>
	</md-accordion>
</div>