@import '../../../variables.scss';

.container {
	width: 100%;
	box-sizing: border-box;
	padding: 2% 1%;

	.items {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
	}

	::ng-deep md-expansion-panel {
		margin-bottom: 1%;
	
		::ng-deep .mat-expansion-panel-body {
			padding: 1%;
		}
	}
}

app-ordered-product {
	width: calc((100% / 4) - 2%);
	margin: 0.5% 1% 1% 1%;
}

.mat-expansion-panel-spacing {
	margin: 1% 0;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
    width: calc(100% / 3);
}

.mat-content {
    align-items: center;
}

 .loader{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.empty {
	padding: 5%;
	text-align: center;

	h3 {
		text-align: center;
		font-size: 20px;
	}
}

@media (max-width:$break-l) and (min-width:$break-m) {
	app-ordered-product {
		width: calc((100% / 3) - 2%);
	}
}

@media (max-width:$break-m) {
	app-ordered-product {
		width: calc((100% / 2) - 2%);
	}
}

@media (max-width:$break-s) {
	md-expansion-panel-header {
		font-size: 0.7em;
		padding: 1%;

		md-panel-title, md-panel-description {
			margin-right: 2%;
		}
	}

	app-ordered-product {
		width: calc(100%  - 2%);
	}
}