@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500&subset=latin-ext');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "variables.scss";
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
}

.homepage {
    min-height: 500px;
    height: 100%;
}

.cardImg {
    width: 100%;
    text-align: center;
}

.homepage img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}


//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-pink, 900, 100);
$my-app-accent:  mat-palette($mat-pink, 100, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);
