$blue: rgba(45, 45, 184, 0.88) !default;
$orange: rgba(230, 67, 18, 0.67) !default;
$grey: rgba(0, 0, 0, 0.48);
$black: #222;
$grey2: #dddddd;

$profileSideMenu: $black;
$profileAboutUserData : $orange;
$profileUserFullName: $grey;
$profileSideMenuButtons: lighten($black, 20%);

$orderPageButtons: $grey2;
