.img-container {
		width: 100%;
		margin: 0 auto;
}

img {
	width: 100%;
	height: auto;
}

ul, li {
    list-style: none;
}

ul li span {
	font-weight: 500;
}

md-card-title {
	margin: 1.5% 0 !important;
	font-size: 1.1vw;
	text-align: center;
}